### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series1 = pd.Series(data)
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series2 = pd.Series(my_list)
print(series2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data: Name- Alice, Bob, Claire Age- 25,30,27 Gender- Female, Male, Female Then, print the DataFrame.

In [3]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

DataFrame: A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types. It is like a spreadsheet or SQL table, where data can be stored in rows and columns. It is one of the most commonly used pandas objects.

In [7]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series: A Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a DataFrame.

In [6]:
ages = pd.Series([25, 30, 27], name='Age')
ages

0    25
1    30
2    27
Name: Age, dtype: int64

 while a Series represents a single column or row of data, a DataFrame is a 2-dimensional table made up of multiple Series.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1. head() and tail(): Display the first or last n rows.
2. info(): Display a concise summary of the DataFrame.
3. describe(): Generate descriptive statistics.
4. groupby(): Group DataFrame using a mapper or by a Series of columns.
5. merge(): Merge DataFrame or named Series objects with a database-style join

In [8]:
# Display first 5 rows
print(df.head())

# Display summary information
print(df.info())

# Generate descriptive statistics
print(df.describe())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Mutable: DataFrame is mutable in nature. You can modify its content by adding or removing columns, changing values, etc.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female